<button
  id="menu-button"
  class="btn btn-link d-block d-sm-block d-md-none">
  <span class="line bg-primary"></span>
  <span class="line bg-primary"></span>
  <span class="line bg-primary"></span>
</button>

{% block scripts %}
  <script src="js/menu-button-click-listener.js"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="css/menu-button.css"/>
{% endblock %}