#menu-button {
  z-index: 1;
}

.line {
  transition: all 0.3s ease-in-out;
  width: 25px;
  height: 3px;
  display: block;
}

.line:nth-child(2), .line:nth-child(3) {
  margin-top: 2px;
}

.menu-button-pressed .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
  background: white !important;
}

.menu-button-pressed .line:nth-child(2) {
  opacity: 0;
}

.menu-button-pressed .line:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
  background: white !important;
}


