<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {# App css #}
    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/base.css" />
    {# For adding dynamic css files #}
    {% block styles %}{% endblock %}

    <title>Dashboard Template</title>
  </head>

  <body class="d-flex flex-column">
    {% if url != '/login' %}      
      {% include "src/components/responsive-menu/responsive-menu.njk" %}
      {# Header container #}
      <nav
        id="header-container">
        {% include "src/components/header/header.njk" %}
      </nav>
      {# Main container #}
    {% endif %}
    <main
      id="body-container">
      {% if url != '/login' %}  
        {# Menu container #}
        <div
          id="menu-container"
          class="d-none d-sm-none d-md-block">
          {% include "src/components/unresponsive-menu/unresponsive-menu.njk" %}
        </div>
      {% endif %}
      {# Content container #}
      <div
        id="content-container"
        class="w-100 h-100">
        {% block content %}{% endblock %}
      </div>
    </main>
    {# For adding dynamic js files #}
    {% block scripts %}{% endblock %}
  </body>
</html>
