{% extends "src/views/core/default.njk" %}

{% block styles %}
  <link rel="stylesheet" href="css/metrics.css" />
{% endblock %}

{% block content %}
  <div
    id="metrics-container"
    class="d-flex w-100 h-100 p-3">
    <div
      class="card w-100 h-100 shadow-sm text-color">
      metrics
    </div>
  </div>
{% endblock %}