html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

#header-container {
  height: 10%;
}

#body-container {
  height: 90%;
  display: flex;
  flex-direction: row;
}

#menu-container {
  height: 100%;
  width: 15%;
}

#content-container {
  height: 100%;
  flex: 1 1 auto;
}

a:hover {
  text-decoration: none;
}