@font-face {
	font-family: 'Caviar';
	src: url('/fonts/CaviarDreams.eot');
	src: local('☺'), url('/fonts/CaviarDreams.woff') format('woff'), url('/fonts/CaviarDreams.ttf') format('truetype'), url('/fonts/CaviarDreams.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CaviarBold';
	src: url('/fonts/CaviarDreams_Bold.eot');
	src: local('☺'), url('/fonts/CaviarDreams_Bold.woff') format('woff'), url('/fonts/CaviarDreams_Bold.ttf') format('truetype'), url('/fonts/CaviarDreams_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CaviarBoldItalic';
	src: url('/fonts/CaviarDreams_BoldItalic.eot');
	src: local('☺'), url('/fonts/CaviarDreams_BoldItalic.woff') format('woff'), url('/fonts/CaviarDreams_BoldItalic.ttf') format('truetype'), url('/fonts/CaviarDreams_BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CaviarItalic';
	src: url('/fonts/CaviarDreams_Italic.eot');
	src: local('☺'), url('/fonts/CaviarDreams_Italic.woff') format('woff'), url('/fonts/CaviarDreams_Italic.ttf') format('truetype'), url('/fonts/CaviarDreams_Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-family-sans-serif: "Caviar", "CaviarBold", "CaviarBoldItalic", "CaviarItalic";
$font-family-monospace: "Caviar", "CaviarBold", "CaviarBoldItalic", "CaviarItalic";
$font-family-base: $font-family-sans-serif;





