{% set
  options = [
    {
      label: "Transferencias",
      url: "/transferencias"
    },
    {
      label: "Metricas",
      url: "/metricas"
    }    
  ]
%}

<div
  id="responsive-menu-container"
  class="responsive-menu-container h-100 w-100 bg-primary
  position-absolute flex-column justify-content-center align-items-center
  d-flex d-sm-flex d-md-none">
  {% for option in options %}
    <a
      class="text-white p-2"
      href="{{option.url}}">
      {% if option.url in url %}
        <i class="mdi mdi-check"></i>
        {{option.label}}
      {% else %}
        <i class="mr-4"></i>
        {{option.label}}
      {% endif %}
    </a>
  {% endfor %}
</div>

{% block styles %}
  <link rel="stylesheet" href="css/responsive-menu.css" />
{% endblock %}