{% set
  options = [
    {
      label: "Transferencias",
      url: "/transferencias"
    },
    {
      label: "Metricas",
      url: "/metricas"
    }    
  ]
%}

<div
  id="unresponsive-menu-container"
  class="d-flex flex-column bg-secondary h-100">
  {% for option in options %}
    {% if option.url in url %}
      {% set backgroundItemColor = 'bg-primary' %}
    {% else %}
      {% set backgroundItemColor = 'bg-transparent' %}
    {% endif %}

    <a
      class="text-white p-2 {{backgroundItemColor}}"
      href="{{option.url}}">
      {{option.label}}
    </a>
  {% endfor %}
</div>