{% extends "src/views/core/default.njk" %}

{% block content %}
  <div
    id="login-container"
    class="d-flex justify-content-center align-items-center w-100 h-100">
    <div
      class="card shadow-sm w-25 h-50 p-4">
      <form
        action="/transferencias"
        method="GET">
        <div class="form-group">
          <label
            for="email">
            Dirección de correo
          </label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="ejemplo@gmail.com">
        </div>
        <div class="form-group">
          <label
            for="password">
            Contraseña
          </label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="*******">
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block">
          Entrar
        </button>
      </form>
    </div>
  </div>
{% endblock %}